plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap

jira_url:    https://osgeo-org.atlassian.net/projects/GEOS
wiki_url:    https://github.com/geoserver/geoserver/wiki
git_url:     https://github.com/geoserver/geoserver
sf_url:      https://sourceforge.net/projects/geoserver
nightly_url: https://build.geoserver.org/geoserver
docs_url:    https://docs.geoserver.org
url:         https://geoserver.org

# latest nightly build
main_series:      2.27.x

# the next jira release for the main branch
main_jira:        16936

#dev              determine dev_version
dev:              2.26.0
dev_branch:       2.27.x
dev_series:       2.27.x
# release candidate, or milestone, if available
dev_jira:         16936


# stable          determine nightly build, stable_version
stable_branch:    2.26.x

# the next jira release for the stable branch nightly build
stable_jira:      16940

# maintenance (determine nightly build, maintain_version)
maintain_branch:  2.25.x

# the next jira release for the maintenance branch nightly build
maintain_jira:    16928


timezone:    UTC
name:        GeoServer
description: GeoServer latest posts
author:      GeoServer community

include:
  - ".well-known"

exclude:
  - bin/*
  - Gemfile*
  - README.md
  - TEST.md

paginate: 5
paginate_path: "/blog/page:num/"

defaults:
  -
    scope:
      path:       "img/**"
    values:
      sitemap:    false
  -
    scope:
      path:       "google0de0c8ffb164bba6.html"
    values:
      sitemap:    false

exclude: 
  - bin
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
