plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap

jira_url:    https://osgeo-org.atlassian.net/projects/GEOS
wiki_url:    https://github.com/geoserver/geoserver/wiki
git_url:     https://github.com/geoserver/geoserver
sf_url:      https://sourceforge.net/projects/geoserver
nightly_url: https://build.geoserver.org/geoserver
docs_url:    https://docs.geoserver.org
url:         https://geoserver.org

##
## MAIN BRANCH
##

# latest nightly build
main_series:      3.0.x

# the next jira release for the release/main nightly build
main_nightly:     17404

##
## DEVELOPMENT BRANCH
##
## This is used during release candidate phase only

# dev             determine release/dev, dev_version and dev_jira
#                 (When this value is main it is ignored as main is already listed above)
dev_branch:       main

# the next jira release for the release/<dev_branch> nightly build
dev_nightly:      17471

##
## STABLE BRANCH
##

# stable          determine release/stable page, stable_version and stale_jira
stable_branch:    2.28.x

# the next jira release for the release/<stable_branch>
stable_nightly:   17604

##
## MAINTENANCE BRANCH
#

# maintenance     determine release/maintenance page, maintain_version and maintain_jira
maintain_branch:  2.27.x

# the next jira release for the release/<maintain_branch> nightly build
maintain_nightly: 17503


timezone:    UTC
name:        GeoServer
description: GeoServer latest posts
author:      GeoServer community

include:
  - ".well-known"

exclude:
  - bin/*
  - Gemfile*
  - README.md
  - TEST.md

paginate: 5
paginate_path: "/blog/page:num/"

defaults:
  -
    scope:
      path:       "img/**"
    values:
      sitemap:    false
  -
    scope:
      path:       "google0de0c8ffb164bba6.html"
    values:
      sitemap:    false

exclude: 
  - bin
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
