plugins:
  - jekyll-feed
  - jekyll-paginate

jira_url:    https://osgeo-org.atlassian.net/projects/GEOS
wiki_url:    https://github.com/geoserver/geoserver/wiki
git_url:     https://github.com/geoserver/geoserver
sf_url:      http://sourceforge.net/projects/geoserver
nightly_url: https://build.geoserver.org/geoserver
docs_url:    http://docs.geoserver.org

# stable latest release
stable_version:   2.19.2

# stable nightly build
stable_branch:    2.19.x
stable_jira:      16824

# maintenance latest release
maintain_version: 2.18.5

# maintenance nightly build
maintain_branch:  2.18.x    
maintain_jira:    16822

# release candidate if available 
dev_version:      

# latest nightly build
dev_branch:       main
dev_jira:         16815
dev_series:       2.20.x

timezone:    UTC
name:        GeoServer
description: GeoServer latest posts
author:      GeoServer community

paginate: 5
paginate_path: "/blog/page:num/"
