---
layout: default
title: GeoServer
id: home
---

<style>
#download {
  text-align: center;
}

#download ul {
  list-style-type: none;
  padding-left: 0px;

}

#news h2 {
  text-align: center;
}

#news ul {
  list-style-type: none;
  padding-left: 0;
}

#news li p {
  font-size: 8pt;
  color: #666;
}

#books img {
  width: 320px;
}
div[class*="col-"] img {
  margin-bottom: 10px;
}

#core-contributors img {
  margin-left: 5px;
  margin-right: 5px;
}

.ol-attribution {
  background: rgba(255,255,255,0.8);
  color: #333;
}

.ol-attribution a {
  color: #7b98bc;
}

a.masto-link { display:none; }
</style>
<script>
function init() {
  initMap();

  if ("{{site.dev_version}}" == "") {
    $(".download_dev_version").hide();
  }
  else {
    $(".download_dev_version").hide();
  }

}
</script>
<div class="text-center">
<h1>GeoServer is an open source server for sharing geospatial data.</h1>
<p class="lead">
Designed for interoperability, it publishes data from any major spatial data source using open standards.  
</p>
</div>

<section id="">
  <div class="row">
    <div class="col-md-6">
      <div id="map" class="map"></div>
    </div>
    <div class="col-md-6">
      <div id="download">
        <h2><a href="/download">Download</a> <span class="glyphicon glyphicon-download"></span></h2>
        <div class="row">
          <div class="col-md-4 download-stable">
            <h4>Stable</h4>
            <ul>
              <li><a href="/release/stable">{{site.stable_version}}</a></li>
              <li><a href="/release/{{site.stable_branch}}">Nightly</a></li>
            </ul>
          </div>
          <div class="col-md-4 download-maintain">
            <h4>Maintenance</h4>
            <ul>
              <li><a href="/release/maintain">{{site.maintain_version}}</a></li>
              <li><a href="/release/{{site.maintain_branch}}">Nightly</a></li>
            </ul>
          </div>
          <div class="col-md-4 download-dev">
            <h4>Development</h4>
            <ul>
              <li id="download_dev_version"><a href="/release/dev">{{site.dev_version}}</a></li>
            {%- if site.dev_branch != 'main' -%}
              <li><a href="/release/{{site.dev_branch}}">Nightly</a></li>
            {% endif %}
              <li><a href="/release/main">Main</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="news">
        <h2><a href="blog/index.html" target="_blank">News</a></h2>
          {% for i in (0..5) %}
                <h4><a href="{{ site.posts[i].url }}" >{{ site.posts[i].title }}</a> {{ site.posts[i].date | date: "%b %-d, %Y" }}{% if site.posts[i].author %} • {{ site.posts[i].author }}{% endif %}{% if site.posts[i].meta %} • {{ site.posts[i].meta }}{% endif %}</h4>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="" class="text-center">
  <div class="row">
    <div class="col-md-6">
      <h4>OGC Implementation</h4>
      <p class="text-left">
        GeoServer implements industry standard OGC protocols such as Web Feature Service (WFS), Web Map Service (WMS), and Web Coverage Service (WCS). Additional formats and publication options are available as extensions including Web Processing Service (WPS), and Web Map Tile Service (WMTS).
      </p>
    </div>
    <div class="col-md-6">
      <h4>Part of a Vibrant Open Source Community</h4>
      <p class="text-left">
        GeoServer is developed, tested, and supported as community-driven project by a diverse group of individuals and organizations around the world. We are proud to be a recognized <a href="https://osgeo.org/projects/geoserver/">Open Source Geospatial Foundation</a> project.
      </p>
      <p class="text-left">
        GeoServer participates in the annual <a href="https://foss4g.org/">Free and Open Source Software for Geospatial</a> conference.
      </p>
      <a href="https://osgeo.org/projects/geoserver/">
        <img src="img/OSGeo_project.png" width="150" height="58"/>
      </a>
      <a href="https://foss4g.org/">
        <img src="img/foss4g.png" width="90" height="50">
      </a>
    </div>
  </div>
</section>

<section id="support" class="text-center">
  <h2>Supported by</h2>
  <p class="lead"></p>
  <div class="row">
    <div class="col-md-6" id="core-contributors">
       <p class="text-left">
          Core contributors take on an ongoing responsibility for the GeoServer project.
      </p>
      <a href="https://www.geosolutionsgroup.com">
        <img src="support/img/core-geosolutions.png" width="179" height="80"
             title="GeoSolutions"/>
      </a>
      <a href="http://www.astuntechnology.com/">
        <img src="support/img/core-astun.png" width="179" height="80"
             title="Astun Technology"/>
      </a>
      <a href="https://www.geocat.net/">
        <img src="support/img/core-geocat.png" width="179" height="80"
             title="GeoCat BV"/>
      </a>
    </div>
    <div class="col-md-6" id="sponsors">
       <p class="text-left">
       2023 Sponsors:
       </p>
       <a href="https://northrivergeographic.com">
         <img src="sponsor/img/north-river-geographic.png" height="52"
              title="North River Geographic Systems Inc"/>
       </a>
       <p class="text-left">
          Financial support contributes to project sustainability by supporting underfunded <a href="https://github.com/geoserver/geoserver/wiki/Maintenance">maintenance</a>, <a href="https://github.com/geoserver/geoserver/blob/main/SECURITY.md">security</a>, and <a href="https://github.com/geoserver/geoserver/wiki/Restore-CITE-Certification">interoperability</a> activities.
       </p>
       <p class="text-left">
          <a href="sponsor/">GeoServer Sponsorship</a> is recognized by OSGeo sponsorship program offering increased visibility and promotion beyond this website.
      </p>
      <a href="mailto:treasurer@osgeo.org?subject=GeoServer Sponsorship&body=We would like to sponsor the GeoServer Project, as a member of the GeoServer community we recognize the value in supporting open source.%0d%0aPlease send us an invoice for $3000 USD. This brings our total sponsorship to the level to be recognized as an OSGeo Silver sponsor.">
        <img src="img/osgeo-logo.png" width="150" height="49"/>
      </a>
      <a href="https://github.com/sponsors/OSGeo">
        <img src="img/GitHub_Logo.png" width="120" height="49"/>
      </a>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4XZ76BZMEWZ24&source=url">
        <img src="img/btn_donateCC_LG.gif" width="147" height="47"/>
      </a>
    </div>
  </div>
</section>
<section id="thanks" class="text-center">
  <h2>Acknowledgements</h2>
  <p class="lead"></p>
  <div class="row">
    <div class="col-md-6" id="sponsor">
      <p class="text-left">
         Development tools provided to GeoServer as an open-source project:
      </p>
      <a href="https://www.yourkit.com/java/profiler/index.jsp"><img src="img/yklogo.png" width="150" height="36"/></a>
      <a href="https://www.atlassian.com/software/jira"><img src="img/jira.png" width="150" height="20"/></a>
    </div>
    <div class="col-md-6" id="books">
       <p class="text-left">
         Purchase of <a href="https://www.packtpub.com/product/geoserver-beginners-guide-second-edition">GeoServer Beginner's Guide</a>, <a href="https://www.packtpub.com/application-development/geoserver-cookbook">GeoServer Cookbook</a>, <a href="https://www.packtpub.com/networking-and-servers/mastering-geoserver">Mastering GeoServer</a>, <a href="https://www.packtpub.com/application-development/fundamentals-geoserver-video">Fundamentals of GeoServer [Video]</a>, and <a href="https://www.packtpub.com/application-development/expert-geoserver">Expert GeoServer</a> from Packt Publishing help support the GeoServer team.
       </p>
       <a href="https://subscription.packtpub.com/search?query=geoserver"><img src="img/books.png"/ ></img></a>
    </div>
  </div>
  <a class="masto-link" rel="me" href="https://fosstodon.org/@geoserver">GeoServer on Mastodon</a>
</section>
