<p class="text-left">
Thanks to 2025 <a href="/sponsor/">Sponsors</a>:
</p>
<a href="https://www.gon.de/en"> <!-- initial gs3 sponsoship, contact for recuring osgeo sponsorship in 2026-01 -->
  <img src="/sponsor/img/gon-logo.png"
       title="g.on"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://www.how2map.com"> <!-- recuring osgeo github donation -->
  <img src="/sponsor/img/how2map-logo.png"
       title="How 2 Map"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://illustreets.com"> <!-- recuring osgeo github donation -->
  <img src="/sponsor/img/illustreets.svg"
       title="illustreets"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://route4me.com"> <!-- recuring osgeo github donation -->
  <img src="/sponsor/img/route4me-logo.svg"
       title="Route4Me"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>