<p class="text-left">
Thanks to 2025 <a href="/sponsor/">Sponsors</a>:
</p>
<a href="https://www.how2map.com"> <!-- recuring osgeo github donation -->
  <img style="height: auto; width: auto; max-width: 140px; max-height: 52px;"
       src="/sponsor/img/how2map-logo.png"
       title="How 2 Map"/>
</a>
<a href="https://illustreets.com"> <!-- recuring osgeo github donation -->
  <img style="height: auto; width: auto; max-width: 140px; max-height: 52px;"
       src="/sponsor/img/illustreets.svg"
       title="illustreets"/>
</a>
<a href="https://route4me.com"> <!-- recuring osgeo github donation -->
  <img style="height: auto; width: auto; max-width: 140px; max-height: 52px;"
       src="/sponsor/img/route4me-logo.svg"
       title="Route4Me"/>
</a>