<p class="text-left">
Thanks to GeoServer 2026 <a href="/sponsor/">sponsors</a>:
</p>
<a href="https://www.gon.de/en"> <!-- initial gs3 sponsoship, contact for recuring osgeo sponsorship in 2026 -->
  <img src="/sponsor/img/gon-logo.png"
       title="g.on"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://www.how2map.com"> <!-- recuring osgeo github donation -->
  <img src="/sponsor/img/how2map-logo.png"
       title="How 2 Map"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://illustreets.com"> <!-- recuring osgeo github donation -->
  <img src="/sponsor/img/illustreets.svg"
       title="illustreets"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://route4me.com"> <!-- recuring osgeo github donation -->
  <img src="/sponsor/img/route4me-logo.svg"
       title="Route4Me"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://gaia3d.com"> <!-- CITE sponsor -->
  <img src="/sponsor/img/gaia3d-logo.png"
       title="Gaia3D"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a> <!-- CITE sponsor -->
<a href="https://https://www.geocat.net">
  <img src="/support/img/core-geocat.png"
       title="GeoCat BV"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
