<p class="text-left">
Thanks to <a href="https://gaia3d.com/">Gaia3D</a> and <a href="https://uk.osgeo.org/">OSGeo:UK</a> for sponsoring 2025 CITE Certification.
</p>
<a href="https://gaia3d.com">
  <img src="/sponsor/img/gaia3d-logo.png"
       title="Gaia3D"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
<a href="https://uk.osgeo.org">
  <img src="/sponsor/img/osgeo-uk-logo.png"
       title="OSGeo:UK"
       style="height: auto; width: auto; max-width: 140px; max-height: 52px;"/>
</a>
