<p>
    If you encounter a security vulnerability in GeoServer please take care to report in a responsible fashion:
</p>
<ul>
<li>Keep exploit details out of mailing list and issue tracker (send details to geoserver-security@lists.osgeo.org)</li>
<li>Be prepared to work with Project Steering Committee (PSC) members on a solution</li>
<li>Keep in mind PSC members are volunteers and an extensive fix may require fundraising / resources</li>
</ul>
<p>
    Please send a mail directly to <a href="mailto:geoserver-security@lists.osgeo.org">geoserver-security@lists.osgeo.org</a> (moderated list with no possibility to subscribe, please just send directly to the address, the mail will be evaluated and eventually posted) and provide information about the security issue you might have found there.
</p>