<!-- text should be kept in sync with https://github.com/geoserver/geoserver/blob/main/SECURITY.md -->
<p>
    If you encounter a security vulnerability in GeoServer please take care to report in a responsible fashion:
</p>
<ol>
<li>Keep exploit details out of public forums, mailing lists, and issue tracker.
<li>There are two options to report a security vulnerability:
   <ul>
       <li>Please send an email directly to the volunteers on the private <a href="mailto:geoserver-security@lists.osgeo.org">geoserver-security@lists.osgeo.org</a> mailing list.
         Provide information about the security vulnerability you might have found in your email.</br>
         <br/>
         This is a moderated list: send directly to the address; your email will be moderated; and eventually shared with volunteers.</li>
       <li>To report via GitHub:</br>
       </br>
       Navigate to <a href="https://github.com/geoserver/geoserver/security">security page</a>, use link for <em>Private vulnerability reporting</em>.</br>
       </br>
       For more information see <a href="https://docs.github.com/en/code-security/security-advisories/guidance-on-reporting-and-writing-information-about-vulnerabilities/privately-reporting-a-security-vulnerability#privately-reporting-a-security-vulnerability">GitHub documentation</a>.
       </li>
   </ul>

<li>There is no expected response time. Be prepared to work with geoserver-security email list volunteers on a solution.</li>
<li>Keep in mind participants are volunteering their time, an extensive fix may require fundraising/resources.</li>
</ol>

<p>
    Refer to the GeoServer <a href="https://github.com/geoserver/geoserver/blob/main/SECURITY.md">Security policy</a>.
</p>