<p>
  GeoServer 3 is supported by the following organisations:
</p>
<!-- alphabetical -->
<a href="https://www.afrigis.co.za/">
  <img src="/support/img/AfriGIS-full-logo.png"
       title="AfriGIS"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://camptocamp.com/">
  <img src="/support/img/camptocamp-logo.png"
       title="Camptocamp"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.dlr.de/de">
  <img src="/sponsor/img/dlr-logo.svg"
       title="DLR"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.dorsetcouncil.gov.uk">
  <img src="/sponsor/img/dorset-council-logo.png"
       title="Dorset Council"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.telekom.com">
  <img src="/sponsor/img/telekom-logo.svg"
       title="Deutsche Telekom"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://frachtwerk.de">
  <img src="/sponsor/img/frachwerk-logo.svg"
       title="Frachtwerk GmbH"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.geocat.net/">
  <img src="/support/img/core-geocat.png"
       title="GeoCat BV"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.geocrafter.eu">
  <img src="/sponsor/img/geocrafter-geospatial-studio-logo.png"
       title="Geocrafter - Geospatial Studio"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.comune.genova.it">
  <img src="/sponsor/img/genova-logo.png"
       title="Comune di Genova"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.gon.de/en">
  <img src="/sponsor/img/gon-logo.png"
       title="g.on"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.geosolutionsgroup.com/">
  <img src="/support/img/core-geosolutions.png"
       title="GeoSolutions SRL"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://geosos.net">
  <img src="/sponsor/img/geosos.png"
       title="geosos"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.getmap.eu/">
  <img src="/sponsor/img/get-logo.png"
       title="Geospatial Enabling Technologies (GET)"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://incloud.com">
  <img src="/sponsor/img/incloud-logo.png"
       title="Incloud Limited"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.linkedin.com/in/lucvanlinden/">
  <img src="/sponsor/img/hl-consulting.png"
       title="HL Consulting"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://ign.fr/">
  <img src="/sponsor/img/ign-logo.png"
       title="Institut national de l'information géographique et forestière (IGN)"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.its-digital.de/">
  <img src="/sponsor/img/its-digital.svg"
       title="ITS Digital"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://jdev.fr">
  <img src="/sponsor/img/jdev-logo.svg"
       title="JDev"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.kfw.de/">
  <img src="/sponsor/img/kfw-logo.svg"
       title="Kreditanstalt für Wiederaufbau"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://mammothgeospatial.com">
  <img src="/sponsor/img/mammoth-logo.svg"
       title="Mammoth Geospatial"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://oceanservice.noaa.gov/">
  <img src="/sponsor/img/nos-logo.png"
       title="NOA National Ocean Service"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.plangis.de">
  <img src="/sponsor/img/plangis-logo.svg"
       title="Plangis"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.gov.ie/en/organisation/office-of-public-works/">
  <img src="/sponsor/img/opw-logo.png"
       title="Office of Public Works"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.osgeo.kr">
  <img src="/sponsor/img/osgeo-kr-logo.svg"
       title="OSGeo:Korea"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://uk.osgeo.org">
  <img src="/sponsor/img/osgeo-uk-logo.png"
       title="OSGeo:UK"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.quarticle.ro">
  <img src="/sponsor/img/quarticle-logo.svg"
       title="Quarticle Research Srl"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://hurrevac.com/">
  <img src="/sponsor/img/sea-island-software-logo.png"
       title="Sea Island Software"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.tailormap.com/">
  <img src="/sponsor/img/tailormap-logo.svg"
       title="Tailormap"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.terrestris.de/">
  <img src="/sponsor/img/terrestris-logo.png"
       title="Terrestris"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.value-marktdaten.de/en/portfolio/market-database/real-estate-price-maps/">
  <img src="/sponsor/img/value-logo.png"
       title="Value AG"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://www.vgregion.se/">
  <img src="/sponsor/img/vastra-gotaland-logo.svg"
       title="Region Västra Götaland"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<a href="https://waldexpert.waldportal-bw.de/">
  <img src="/sponsor/img/waldexpert-logo.svg"
       title="WaldExpert"
       style="display:inline; margin-left:5px; margin-right:5px; min-width: 80px; max-width: 150px; max-height: 80px;"/> 
</a>
<br>
<p>
  Individual donations: Abhijit Gujar, Hennessy Becerra, Ivana Ivanova, John Bryant, Jason Horning, Peter Smythe, Sajjadul Islam, Sebastiano Meier, Stefan Overkamp.
</p>
