  <nav class="navbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
              data-target="#gs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GeoServer</a>
    </div>

    <div class="collapse navbar-collapse" id="gs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog" target="_blank">Blog</a>
        </li>        
        <li>
          <a href="/download">Download</a>
        </li>
        <li>
          <a href="http://docs.geoserver.org">Documentation</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/comm">Community Support</a></li>
            <li><a href="/support">Commercial Support</a></li>
            <li><a href="/issues">Issue Tracker</a></li>
            <li><a href="/devel">Community Development</a></li>
            <li><a href="/sponsor">Sponsorship</a></li>
            <li><a href="/roadmap">Roadmap</a></li>
            <li><a href="{{ site.wiki_url }}/Home" target="_blank">Wiki</a></li>
            <li><a href="{{ site.git_url }}/graphs/contributors">Contributors</a></li>
            <li><a href="{{ site.git_url }}/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a></li>
            <li><a href="/license">License</a></li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/geoserver/geoserver" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
