<!DOCTYPE html>
<html>
  <!-- nightly release providing links build server -->
  {% include head.html %}
  <style>
  #changelog {
    margin-top: 20px;
  }
  </style>
  <body>
    {% include nav.html %}
    <div class="background">
      <div class="wrapper download">
        <div class="content">
          <div class="row">
            <div class="col-xs-8">
              <h1>GeoServer {{ page.version }} nightly</h1>
              <p class="lead">
                Latest nightly <a href="{{site.nightly_url}}/{{page.branch}}"> {{page.series}} build</a>.
              </p>
            </div>
            <div class="col-xs-4">
              <div id="changelog" class="row">
                <div class="col-xs-2">
                  <img src="/img/dl-changelog.png" class="img-responsive"></img>
                </div>
                <div class="col-xs-10">
                  <a href="http://jira.codehaus.org/secure/ReleaseNote.jspa?projectId=10311&version={{page.jira_version}}" target="_blank">Changelog</a>
                  <p>
                    JIRA Roadmap {{page.jira_version}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <section>
            <h2>Packages</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-binary.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                     <a href="{{site.nightly_url}}/{{page.branch}}/geoserver-{{ page.version }}-latest-bin.zip">Platform Independent Binary</a>
                    <p>
                      Operating system independent runnable binary.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-war.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{site.nightly_url}}/{{page.branch}}/geoserver-{{ page.version }}-latest-war.zip">Web Archive</a>
                    <p>
                      Web Archie (war) for servlet containers. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>Documentation</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-doc.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{ site.docs_url }}/{{ page.docs }}/en/user/">User Guide</a>
                    <p>
                      GeoServer {{page.branch_name}} user guide.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>Source Code</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-src.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{ site.git_url }}/tree/{{ page.branch }}">GitHub</a>
                    <p>
                      Source code available from GitHub. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section>
            <h2>Extensions</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-download.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{site.nightly_url}}/{{page.branch}}/ext-latest">Extensions</a>
                    <p>
                      GeoServer Extension downloads.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h4>Vector Formats</h4>
                <ul>
                  <li><a dl="app-schema-plugin">App Schema</a></li>
                  <li><a dl="arcsde-plugin">ArcSDE</a></li>
                  <li><a dl="db2-plugin">DB2</a></li>
                  <li><a dl="h2-plugin">H2</a></li>
                  <li><a dl="mysql-plugin">MySQL</a></li>
                  <li><a dl="oracle-plugin">Oracle</a></li>
                  <li><a dl="feature-pregeneralized-plugin">Pregeneralized Features</a></li>
                  <li><a dl="sqlserver-plugin">SQL Server</a></li>
                  <li><a dl="teradata-plugin">Teradata</a></li>
                  <li><a dl="vpf-plugin">VPF</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h4>Coverage Formats</h4>
                <ul>
                  <li><a dl="gdal-plugin">GDAL</a></li>
                  <li><a dl="pyramid-plugin">Image Pyramid</a></li>
                  <li><a dl="jp2k-plugin">JPEG2K</a></li>
                  <li><a dl="imagemosaic-jdbc-plugin">JDBC Image Mosaic</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h4>Output Formats</h4>
                <ul>
                  <li><a dl="excel-plugin">Excel</a></li>
                  <li><a dl="imagemap-plugin">Image Map</a></li>
                  <li><a dl="ogr-plugin">OGR</a></li>
                  <li><a dl="xslt-plugin">XSLT</a></li>
                  <li><a dl="dxf-plugin">DXF</a></li>
                  <li><a dl="libjpeg-turbo-plugin">JPEG Turbo</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h4>Services</h4>
                <ul>
                  <li><a dl="csw-plugin">CSW</a></li>
                  <li><a dl="wcs-plugin">WCS 2.0</a></li>
                  <li><a dl="wps2_0-eo-plugin">WCS 2.0 EO</a></li>
                  <li><a dl="wps-plugin">WPS</a></li>
                </ul>
              </div>             
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h4>Miscellaneous</h4>
                <ul>
                  <li><a dl="charts-plugin">Chart Symbolizer</a></li>
                  <li><a dl="control-flow-plugin">Control Flow</a></li>
                  <li><a dl="querylayer-plugin">Cross Layer Filtering</a></li>
                  <li><a dl="css-plugin">CSS Styling</a></li>
                  <li><a dl="geosearch-plugin">GeoSearch</a></li>
                  <li><a dl="sec-cas-plugin">CAS</a></li>
                  <li>Monitor (<a dl="monitor-plugin">Core</a>, <a dl="monitor-hibernate-plugin">Hibernate</a>)</li>
                  <li>Importer (<a dl="importer-plugin">Core</a>, <a dl="importer-bdb-plugin">BDB Backend</a>)</li>
                  <li><a dl="inspire-plugin">INSPIRE</a></li>
                </ul>
              </div>
            </div>
          </section>
          <section>
            <h2>Community</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-download.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{site.nightly_url}}/{{page.branch}}/community-latest">Community Modules</a>
                    <p>
                      Experimental community modules.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      {% include footer.html %}
    </div>
    
    {% include scripts.html %}
    <script>
    $(document).ready(function() {
      $("a[dl]").each(function() {
        var name = $(this).attr("dl");
        var artifact = "geoserver-{{page.series}}-SNAPSHOT";
        if (name != "") {
          artifact += "-"+name;
        }

        var ext = $(this).attr("dl-ext");
        if (ext == null) {
            ext = "zip";
        }
        artifact += "."+ext;

        var url = "{{site.nightly_url}}/{{page.branch}}/ext-latest";
        url += "/" + artifact;
        $(this).attr("href", url);
      });
    });
    </script>
  </body>
</html>