<!DOCTYPE html>
<html>
  <!-- Release links to source forge, github and codehaus-->
  <!-- For use with GeoServer 2.14 extension list, pdf docs, github source code -->
  {% include head.html %}
  <style>
  #changelog {
    margin-top: 20px;
  }
  </style>
  <body>
    {% include nav.html %}
    <div class="background">
      <div class="wrapper download">
        <div class="content">
          <div class="row">
            <div class="col-xs-8">
              <h1>GeoServer {{ page.version }}</h1>
              <p class="lead">
                Released on {{ page.release_date }}
              </p>
            </div>
            <div class="col-xs-4">
              <div id="changelog" class="row">
                <div class="col-xs-2">
                  <img src="/img/dl-changelog.png" class="img-responsive"></img>
                </div>
                <div class="col-xs-10">
                  <a href="https://osgeo-org.atlassian.net/jira/secure/ReleaseNote.jspa?projectId=10000&version={{page.jira_version}}" target="_blank">Changelog</a>
                  <p>
                    JIRA release {{page.jira_version}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div id="changelog" class="row">
                <div class="col-xs-2">
                  <img src="/img/dl-changelog.png" class="img-responsive"></img>
                </div>
                <div class="col-xs-10">
                  <a href="http://blog.geoserver.org/{{page.announce}}" target="_blank">Announcement</a>
                  <p>
                    GeoServer blog.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <section>
            <h2>Packages</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-binary.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a dl="bin">Platform Independent Binary</a>
                    <p>
                      Operating system independent runnable binary.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-win.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a dl="" dl-ext="exe">Windows Installer</a>
                    <p>
                      Installer for Windows platforms. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-war.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a dl="war">Web Archive</a>
                    <p>
                      Web Archive (war) for servlet containers.
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </section>

          <section>
            <h2>Documentation</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-doc.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <span>User Guide</span>
                    <a dl="htmldoc">HTML</a>
                    <!--a dl="pdfdoc">PDF</a-->
                    <p>
                      Export of GeoServer user guide.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-javadoc.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a dl="javadoc">Javadoc</a>
                    <p>
                      API documentation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>Source Code</h2>

            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-src.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{ site.git_url }}/archive/{{ page.version }}.zip">zip</a> |
                    <a href="{{ site.git_url }}/archive/{{ page.version }}.tar.gz">tar.gz</a>
                    <p>
                      Source code packages for tag <a href="{{ site.git_url }}/releases/tag/{{ page.version }}">{{ page.version }}</a>.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-src.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{ site.git_url }}/tree/{{ page.version }}">GitHub</a>
                    <p>
                      Browse source code on GitHub. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>Extensions</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="/img/dl-download.png" class="img-responsive"></img>
                  </div>
                  <div class="col-xs-10">
                    <a href="{{site.sf_url}}/files/GeoServer/{{page.version}}/extensions">Extensions</a>
                    <p>
                      GeoServer Extension downloads.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h4>Vector Formats</h4>
                <ul>
                  <li><a dl="app-schema-plugin">App Schema</a></li>
                  <li><a dl="arcsde-plugin">ArcSDE</a></li>
                  <li><a dl="db2-plugin">DB2</a></li>
                  <li><a dl="h2-plugin">H2</a></li>
                  <li><a dl="mysql-plugin">MySQL</a></li>
                  <li><a dl="oracle-plugin">Oracle</a></li>
                  <li><a dl="feature-pregeneralized-plugin">Pregeneralized Features</a></li>
                  <li><a dl="sqlserver-plugin">SQL Server</a></li>
                  <li><a dl="teradata-plugin">Teradata</a></li>
                  <li><a dl="mongodb-plugin">MongoDB</a></li>
                </ul>
                <h4>Miscellaneous</h4>
                <ul>
                  <li><a dl="charts-plugin">Chart Symbolizer</a></li>
                  <li><a dl="control-flow-plugin">Control Flow</a></li>
                  <li><a dl="querylayer-plugin">Cross Layer Filtering</a></li>
                  <li><a dl="css-plugin">CSS Styling</a></li>
                  <li><a dl="cas-plugin">CAS</a></li>
                  <li>Importer (<a dl="importer-plugin">Core</a>, <a dl="importer-bdb-plugin">BDB Backend</a>)</li>
                  <li><a dl="inspire-plugin">INSPIRE</a></li>
                  <li><a dl="printing-plugin">Printing</a></li>
                  <li><a dl="ysld-plugin">YSLD Styling</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h4>Coverage Formats</h4>
                <ul>
                  <li><a dl="gdal-plugin">GDAL</a></li>
                  <li><a dl="grib-plugin">GRIB</a></li>
                  <li><a dl="pyramid-plugin">Image Pyramid</a></li>
                  <li><a dl="imagemosaic-jdbc-plugin">JDBC Image Mosaic</a></li>
                  <li><a dl="jp2k-plugin">JPEG2K</a></li>
                  <li><a dl="netcdf-plugin">NetCDF</a></li>
                </ul>
                <h4>Output Formats</h4>
                <ul>
                  <li><a dl="dxf-plugin">DXF</a></li>
                  <li><a dl="excel-plugin">Excel</a></li>
                  <li><a dl="imagemap-plugin">Image Map</a></li>
                  <li><a dl="libjpeg-turbo-plugin">JPEG Turbo</a></li>
                  <li><a dl="netcdf-out-plugin">NetCDF</a></li>
                  <li>OGR (<a dl="ogr-wfs-plugin">WFS</a>, <a dl="ogr-wps-plugin">WPS</a>)</li>
                  <li><a dl="vectortiles-plugin">Vector Tiles</a></li>
                  <li><a dl="xslt-plugin">XSLT</a></li>
                </ul>
                <h4>Services</h4>
                <ul>
                  <li><a dl="csw-plugin">CSW</a></li>
                  <li><a dl="wcs2_0-eo-plugin">WCS 2.0 EO</a></li>
                  <li><a dl="wps-plugin">WPS</a></li>
                  <li><a dl="wps-cluster-hazelcast-plugin">WPS Hazelcast</a></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      {% include footer.html %}
    </div>
    
    {% include scripts.html %}
    <script>
    $(document).ready(function() {
      $("a[dl]").each(function() {
        var name = $(this).attr("dl");
        var artifact = "geoserver-{{page.version}}";
        if (name != "") {
          artifact += "-"+name;
        }

        var ext = $(this).attr("dl-ext");
        if (ext == null) {
            ext = "zip";
        }
        artifact += "."+ext;

        var url = "{{site.sf_url}}/files/GeoServer/{{page.version}}/";
        url += name.indexOf("-plugin") == -1 ? "" : "extensions/";
        url += artifact;
        $(this).attr("href", url);
      });
    });
    </script>
  </body>
</html>
