---
layout: default
title: Download - GeoServer
id: download
---
<style>
div[class*="download"] h4 {
  padding: 5px;
  display: inline-block;
}
div[class*="download"] h3 {
  margin-left: 10px;
  display: inline-block;
}

.tab-content {
  padding-top: 25px;
  padding-bottom: 25px;
}


.nav-tabs > li span.glyphicon {
  visibility: hidden;
}
.nav-tabs > li.active span.glyphicon {
  visibility: initial;
  color: #c6e09b;
}

.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus {
  background-color: #eee;
}

.alert {
  display: inline-block;
  margin-top: 30px;
}
</style>

<script>
function init() {
  $("#archive a").filter(function() {
    return !$(this).attr("href");
  }).each(function() {
    var link = $(this);
    link.attr({
      href: "{{ site.sf_url }}/files/GeoServer/" + link.text(), 
      target: "_blank"
    });
  });

  $("#prod a").filter(function() {
    return !$(this).attr("href");
  }).each(function() {
    var link = $(this);
    link.attr({
      href: "{{ site.sf_url }}/files/GeoServer/" + link.text(), 
      target: "_blank"
    });
  });
  

//  if ("{{site.dev_version}}" == "") {
//    $(".download-dev").hide();
//  }
//  else {
//    $(".download-github").hide();
//  }
}
</script>

<div class="row">
  <div class="col-xs-6">
    <h1>Downloads</h1>
    <p class="lead">
      Choose a version of GeoServer to download.
    </p>
  </div>
  <div class="col-xs-6">
    <div class="alert alert-success">
      <p>
        GeoServer <a href="../roadmap">release schedule</a> offers six months of stable releases, followed by six months of maintenance releases.
      </p>
    </div>
  </div>
</div>

<section class="text-center">
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a href="#prod" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span> Production</a>
    </li>
    <li>
      <a href="#dev" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span> Development</a>
    </li>
    <li>
      <a href="#archive" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span> Archived</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="prod">
      <div class="row">
        <div class="col-md-6 download-stable">
          <h4>Stable</h4>
          <h3><a href="/release/stable">GeoServer {{site.stable_version}}</a> <span class="glyphicon glyphicon-download"></span></h3>
          <p>
            Recommended GeoServer for production use,<br/> tested and supported by the community.
          </p>
          <p>
            The {{site.stable_branch | remove: '.x'}} series is scheduled for six-months of <br/>
            updates, providing improvements and bug fixes.
          </p>
          <p>
            GeoServer stable release:
            <ul class="list-unstyled">
              <li>
                <ul class="list-inline">
                  <li><a href="/release/{{site.stable_version}}">{{site.stable_version}}</a></li>
                </ul>
              </li>
            </ul>
          </p>
          <div class="alert alert-info">
            <p>
              Nightly builds for the <a href="/release/{{site.stable_branch}}">{{site.stable_branch}}</a> series can be found <a class="alert-link" 
                href="{{site.nightly_url}}/{{site.stable_branch}}">here</a>.
            </p>
          </div>
        </div>
        <div class="col-md-6 download-maintain">
          <h4>Maintenance</h4>
          <h3><a href="/release/maintain">GeoServer {{site.maintain_version}}</a> <span class="glyphicon glyphicon-download"></span></h3>
          <p>
            Support update for existing installations, <br/>
            providing you a chance to upgrade.
          </p>
          <p>
            The prior {{site.maintain_branch | remove: '.x'}} series remains available, scheduled <br/>
            for six-months of minor updates, for bug fixes.
          </p>
          <p>
            GeoServer 2.18 maintenance release:
            <ul class="list-unstyled">
              <li>
                <ul class="list-inline">
                  <li><a href="/release/{{site.maintain_version}}">{{site.maintain_version}}</a></li>
                </ul>
              </li>
            </ul>
          </p>
          <div class="alert alert-info">
            <p>
              Nightly builds for the <a
                href="/release/{{site.maintain_branch}}">{{site.maintain_branch}}</a> series can be found   <a class="alert-link" 
                href="{{site.nightly_url}}/{{site.maintain_branch}}">here</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tab-pane" id="dev">
      <div class="row">
        {%- if site.dev_version -%}
        <div class="col-md-6 download-dev">
          <h4>Dev</h4>
          <h3><a href="/release/dev">GeoServer {{site.dev_version}}</a> <span class="glyphicon glyphicon-download"></span></h3>
          <p>
            Help test the latest development release!
          </p>
          <p>
            These experimental releases provide early<br/>
            access, but are not recommended for production.
          </p> 
          <p>
            The {{site.dev_series}} development is scheduled for </br>
            six-months, working on new features and improvements.
          </p>
          <p>
            GeoServer {{site.dev_series}} preview:
            <ul class="list-unstyled">
              <li>
                <ul class="list-inline">
                  <li><a href="/release/{{site.dev_version}}">{{site.dev_version}}</a></li>
                </ul>
              </li>
            </ul>
          </p>
        </div>
        {%- endif -%}
      
        <div class="col-md-6 download-github">
          <h4>Nightly</h4>
          <h3>GeoServer Development</h3>
          <p>
            If you are working closely with our development team<br/>
            (on the <a href="../comm">user-list</a> or <a href="../support">commercial support</a>) you may be<br/>
            asked to test a nightly build using one of the links below.
          </p>
          <div class="alert alert-info">          
            <p>
              Nightly builds for the <a href="/release/{{site.dev_branch}}">{{site.dev_branch}}</a> branch can be found <a class="alert-link" 
                href="{{site.nightly_url}}/{{site.dev_branch}}">here</a>.
            </p>
          </div>
          <div class="alert alert-info">
            <p>
              Nightly builds for the <a href="/release/{{site.stable_branch}}">{{site.stable_branch}}</a> series can be found <a class="alert-link" 
                href="{{site.nightly_url}}/{{site.stable_branch}}">here</a>.
            </p>
          </div>
          <div class="alert alert-info">
            <p>
              Nightly builds for the <a
                href="/release/{{site.maintain_branch}}">{{site.maintain_branch}}</a> series can be found   <a class="alert-link" 
                href="{{site.nightly_url}}/{{site.maintain_branch}}">here</a>.
            </p>
          </div>
        </div>
      </div>
      
    </div>

    <div class="tab-pane" id="archive">
      {% for item in site.data.releases reversed -%}
      <div class="row">
        <div class="col-md-12 download-archive">
          <h4>Archived</h4>
          <h3>GeoServer {{ item[0] }} releases</h3>
          <p>GeoServer {{ item[0] }} archives
          {%- assign minor = item[0] | split: '.' | last | plus: 0 -%}
          {%- if minor > 14 -%}
            , Java 8 and Java 11 compatible:
          {%- elsif  minor > 7 -%} 
            , compatible with Java 8:
          {%- elsif minor > 5 -%} 
            , compatible with Java 7:
          {%- elsif minor > 2 -%} 
            , compatible with Java 6:
          {%- else -%} 
            , compatible with Java 5:
          {%- endif -%}
          :</p>
        </div>
        <ul class="list-unstyled">
          <li>
            <ul class="list-inline">
            {% for release in item[1] reversed %}
              {%- if release == site.stable_version -%}
                <!-- {{ release }} stable -->
              {% elsif release == site.maintain_version -%}
                <!-- {{ release }} maintain -->
              {% elsif release == site.dev_version -%}
                <!-- {{ release }} dev -->
              {% else -%}
                <li><a href="/release/{{ release }}">{{ release }}</a></li>
              {% endif -%}
            {% endfor %}
            </ul>
          </li>
        </ul>
      </div> 
      {% endfor %}
      
      <div class="alert alert-info">
        <p>
          Older releases compatible with Java 5 can be found on <a href="{{site.sf_url}}">SourceForge</a>.
        </p>
      </div>
      
    </div>
  </div>
</section>

